.caption-text{
	font-weight:bold !important;
}

#lmnpop-ctxitm {
    list-style-image: url("videobtn.png");
}

#lmnpop-ctxmnu, #lmnpop-toolmnu {
    list-style-image: url("icon.png");
}

#lmnpop-toolbtn  {
    list-style-image: url("icon24.png");
    -moz-box-orient: vertical;
}
toolbar[iconsize="small"] #lmnpop-toolbtn,
#lmnpop-statusbtn {
    list-style-image: url("icon16.png");
}